@model IEnumerable<project5_6.Models.Wishlist>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h2><center>Your wish list</center></h2>
<hr>

<div class="container">
	<div class="row">
        <div id="catlist">
    <dl>@foreach (var item in Model){
		<dt><img src="@Url.Content("~/images/" + item.product_id + ".jpg")" style="width:140px;height:140px" class="img-responsive"><div class="col-sm-15">
		<strong>@item.brand</strong> | @item.model_name</dt>
		<dd>
			<p>The description of whatever the heading is about goes here the description of whatever the heading is about goes here.</p>
		</dd>
		@Html.ActionLink("Add to cart ","Create2",new {image_id = @item.Id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)})
		@Html.ActionLink("| Remove from list","Delete2",new {id = @item.Id})
		}
	</dl>
</div>	
	</div>
</div>