@model IEnumerable<Model.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<br>
@using (Html.BeginForm())
{
    <center><p>Find by brand: @Html.TextBox("SearchString")  
    <input type="submit" value="Search" /></p></center>
}

@using (Html.BeginForm()) {
    <center><text>ProductBrand: </text>@Html.DropDownList("SearchString", new SelectList(ViewBag.Product))
    <input type="submit" value="Search"/></center>
}

<!-- <input type="button" value="ClickedItem" onclick="window.location.href('@Url.Action("","Clicked")')" /> -->

<br>
<div class="col-md-4">
    <div class="product-item">
        <div class="pi-img-wrapper">
        </div>
        <div class="table">@foreach (var item in Model) {
                <img src="@Url.Content("~/images/" + item.ImageId + ".jpg")" style="width:320px;height:240px" class="img-responsive">
                <table class="table table-bordered">
                    <tbody>
                    <tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">@Html.DisplayFor(modelItem => item.ProductBrand)</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">@Html.DisplayFor(modelItem => item.ProductName)</td></tr>
                    <tr class="techSpecRow"><td class="techSpecTD1">Small description:</td><td class="techSpecTD2">@Html.DisplayFor(modelItem => item.ProductDesc)</td></tr>
                    </tbody>
				</table>
                <!-- <p><h4>@Html.DisplayFor(modelItem => item.ProductName) - @Html.DisplayFor(modelItem => item.ProductBrand) - @Html.DisplayFor(modelItem => item.ImageId)</h4></p>
                <p>@Html.DisplayFor(modelItem => item.ProductDesc)</p>
                <div class="pi-price">$290.00</div> -->
                <!-- action als je action wilt uitvoeren in zelfde controller, controller als je van controller wilt swappen. -->
                <a asp-controller="Product" asp-action="Clicked"> <button>View more info in /product/clicked</button> </a>
                <br>
                <br>
                <a asp-controller="Clicked" name="submit" asp-action="" asp-route-id="@item.ImageId"> <button>View more info in /clicked/</button> </a>
                <hr>
                <!-- <a asp-action="Clicked" asp-route-id="@item.ImageId">View more info</a>
                <a asp-controller="Clicked" name="imageId" value="1">View more info</a> -->
                <br>
                <br>
        }
            </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ImageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductBrand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductDesc)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
