@model IEnumerable<project5_6.Models.Laptop>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<br>
<!-- @using (Html.BeginForm())
{
    <p>Find by brand: @Html.TextBox("SearchString")  
    <input type="submit" value="Search" /></p>
} -->

@using (Html.BeginForm()) {
    <text>Filters: </text>@Html.DropDownList("SearchString", new SelectList(ViewBag.Laptop), string.Empty)
    @Html.DropDownList("SearchString2", new SelectList(ViewBag.Processor), string.Empty)
    @Html.RadioButton("hdmi", "hdmi", "true")<span>HDMI</span>
    <input type="submit" value="Filter"/>
}

<br>
<div class ="container">
    <div class="row">@foreach (var item in Model) {
<div class="col-sm-4">
    <div class="product-item">
        <div class="pi-img-wrapper">
        </div>
        <div class="thumbnail">
                <a asp-controller="ClickedLaptop" name="submit" asp-action="" asp-route-id="@item.Id"><img src="@Url.Content("~/images/" + item.image_id + ".jpg")" style="width:300;height:240px" class="img-responsive"></a>
                <br>
                <table class="table">
                    <tbody>
                    <tr class="techSpecRow"><td class="techSpecTD1"></td><td class="techSpecTD2">
                        &bull; @Html.DisplayFor(modelItem => item.brand) @Html.DisplayFor(modelItem => item.model_name)<br>
                        &bull; @Html.DisplayFor(modelItem => item.processor)<br>
                        &bull; @Html.DisplayFor(modelItem => item.main_storage) @Html.DisplayFor(modelItem => item.main_storage_type)<br>
                        &bull; @Html.DisplayFor(modelItem => item.graphic_card)<br><br>
                        &euro; @Html.DisplayFor(modelItem => item.price) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        @Html.ActionLink("Add to cart","Create2",new {image_id = @item.Id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)})
                    |   @Html.ActionLink("Add to wishlist","Create3",new {image_id = @item.Id, brand = @item.brand, model_name = @item.model_name, price = @item.price, user_id = @UserManager.GetUserId(User)})
                    		<br>
                            <br>
                            @if (User.IsInRole("Administrator")){
                            <li><a asp-area="" asp-controller="Laptop" asp-action="Edit" asp-route-id="@item.Id">Edit product</a></li>}
                    </tbody>
				</table>
            </div>    
    </div>
</div> }
</div>
</div>